/dist
/docs
/out
/node_modules
/.vscode
/.idea
/.DS_Store
/**/*.log
*.tmp
/coverage
/.env
.github
CLAUDE.md
AGENTS.md
/test/.myagent/skills/
/test/.myagent/subagents/
/test/js/
/test/project/
/test/python/
/test/*.html
